:root {
  /* Pink default: rgb(247, 21, 247); */
  --player-one: rgb(247, 21, 247);
  --player-two: rgb(49, 214, 255);
}

/* .template-colors for choosing colors, delete when happy with choices */
.template-colors {
  background: rgb(247, 21, 247);
  background: rgb(49, 214, 255);
  background: rgb(247, 250, 252);
  background: rgb(234, 255, 49);
  background: rgb(255, 179, 15);
  background: rgb(255, 49, 59);
  background: rgb(49, 255, 83);
  background: rgb(169, 39, 255);
}


html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: rgb(224, 224, 224);
  font-family: 'Lexend Tera', sans-serif;
  font-size: 16px;
  background: rgb(31, 31, 31);
}

button:focus { 
  outline: none; 
}

.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;                            
}

.no-size {
  height: 0;
  width: 0;
}

.disable-events, .svg-mark {
  pointer-events: none;
}

/* IMPORTANT: Need to check if `align-items:center;` is needed */
.document-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  background: rgb(31, 31, 31);
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  height: auto;
  width: auto;
  max-width: 320px;
}

.game-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.game-board-container {
  position: relative;
}

/* Player selection */
.player-selection-container {
  z-index: 5000;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.player-selection-own-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.player-selection-name-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.player-selection-name-static {
  width: 100%;
  
}

.svg-player-selection-name {
  width: 100%;
  transition: fill 450ms ease-in-out;
}

.player-selection-one-text {
  font-size: 0.5rem;
}


/* Player Type (Human or Computer) */
.player-selection-type-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.player-selection-type-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.player-selection-type-box {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 75px;
  width: 75px;
  margin: 0;
  /*border: px solid var(--player-one);*/
  overflow: hidden;
}

.player-selection-type-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: transform 1500ms ease-in-out;
}

.type-move-left {
  transform: translateX(-83px);
}

.svg-selection-icon {
  height: 100%;
  width: 100%;
  transition: fill 450ms ease-in-out;

}

.svg-icon-person {
  height: 75px;
  width: 75px;
  margin-right: 8px;
}

.svg-icon-computer {
  height: 75px;
  width: 75px;
} 

.selection-arrow {
  position: relative;
  height: 55px;
  width: 55px;
}
.svg-selection-arrow {
  position: absolute;
  height: 55px;
  width: 55px;
  transition: fill 500ms ease-in-out;
}

.rotate180 {
  transform: rotate(180deg);
}

/* Colours */

.player-selection-color-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-selection-colors-container {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.player-selection-color-item {
  height: 55px;
  width: 65px;
   margin: 0 8px;
   border-radius: 15px;
   transition: background-color 450ms ease-in-out;
  /* border: 1px solid var(--player-one); */
}

.svg-color-display {
  stroke: #231f20;
  stroke-linejoin: round;
  stroke-width: 0;
  transition: fill 450ms ease-in-out;
}

.player-selection-controls-container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

/* Color Options */

.options-color-wrapper {
  pointer-events: none;
  opacity: 0;
  z-index: 5500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.options-color-background {
  pointer-events: none;
  position: absolute;
  height: 160px;
  width: 280px;
  padding: 10px 0;
  border-radius: 5px;
  background: var(--player-one);
  opacity: 0.4;
}

.options-color-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 240px;
  padding: 10px 0;
  border-radius: 5px;
  /* background: rgba(31, 31, 31, 0.7); */
  /* border: 1px solid var(--player-one); */
  transition: border 450ms ease-in-out; 
  background: rgb(31, 31, 31);
}

.options-color-btns-container {
  z-index: 6000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.options-color-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px; 
}

.btn-options-color {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(26,26,26,0.45);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(26,26,26,0.45);
  box-shadow: inset 0px 0px 2px 0px rgba(26,26,26,0.45);
}

.btn-options {
  height: auto;
  width: auto;
  background: none;
  border: none;
  margin: 5px;
  
}

.svg-btn-close {
  height: 40px;
  width: 40px;
  fill: var(--player-one);
  stroke:#231f20;
  stroke-miterlimit:10;
  stroke-linecap:round;
  stroke-linejoin:round;
}

/* Game Over */
.game-over-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 4000;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.enable-pointers {
  pointer-events: auto;
}

.hide {
  opacity: 0;
}

.show-container {
  opacity: 1;
}

.game-over-mark-container {
  display: flex;
  justify-content: center;
  padding: 0;
  height: 200px;
}

.game-over-mark {
  display: block;
  position: relative;
  top: 10px;
  width: 100%;
  max-width: 200px;
  height: auto;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background: none;
  
}

.animate-game-over-mark {
  transform: scale(1.5);
}

.winner-player-text {
  font-size: 2rem;
}

.game-over-static {
  width: 100%;
  opacity: 0;
  -moz-transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.animate-game-over-static{
  width: 100%;
  opacity: 1;
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
  -webkit-transition-delay: 350ms;
  -moz-transition-delay: 350ms;
  -ms-transition-delay: 350ms;
  -o-transition-delay: 350ms;
  transition-delay: 350ms;
}

.game-over-winner {
  width: 100%;
  opacity: 0;
  -moz-transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -o-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.animate-game-over-winner{
  width: 100%;
  opacity: 1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  -ms-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  transition-delay: 150ms;
}

.game-over-btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Current player playing */
.current-player-display-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;
}

.current-player-text {
  font-size: 2rem;
  transition: all 100ms;
}

/* Tic-Tac-Toe grid */
.tictactoe-grid {
  z-index: 3;
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.grid-line {
  stroke: rgb(223, 223, 223);
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-dashoffset: -310;
  stroke-dasharray: 310;
  -webkit-transition: stroke-dashoffset 2s ease;
  -moz-transition: stroke-dashoffset 2s ease;
  -ms-transition: stroke-dashoffset 2s ease;
  -o-transition: stroke-dashoffset 2s ease;
  transition: stroke-dashoffset 2s ease;
  -webkit-transition: stroke 700ms ease-in-out;
  -moz-transition: stroke 700ms ease-in-out;
  -ms-transition: stroke 700ms ease-in-out;
  -o-transition: stroke 700ms ease-in-out;
  transition: stroke 700ms ease-in-out;
}


.grid-line-draw{
  stroke-dashoffset: 0;
  stroke-dasharray: 310;
}

.grid-line-row1-delay {
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}

.grid-line-row2-delay {
    -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

.grid-line-column1-delay {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

.grid-line-column2-delay {
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}

.gridline-transition-stroke-delay {
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms; 
  transition-delay: 0ms;
  filter: brightness(90%);
}

/* ANIMATED WIN LINE */
.win-line-container {
  z-index: 50;
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.win-line-style {
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  -webkit-transition: stroke-dashoffset 1s ease;
  -moz-transition: stroke-dashoffset 1s ease;
  -ms-transition: stroke-dashoffset 1s ease;
  -o-transition: stroke-dashoffset 1s ease;
  transition: stroke-dashoffset 1s ease;
}

.animate-win-line {
  stroke-dashoffset: 0;
}

.tictactoe-container {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
  height: 100%;
  width: 100%;
}

.game-over-mark-transform {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.mark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background: rgb(31, 31, 31);
}

.game-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.btn-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: auto;
  margin: 5px;
  padding: 0 10px;
  min-width: 80px;
  /* opacity: 0.5; */
  color: var(--player-one);  
  background: none;
  border: 2px solid var(--player-one);
  border-radius: 15px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btn-game:hover {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  /* opacity: 1; */
  opacity: 0.5;
  color: var(--player-one);
}

.test-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(31, 31, 31);
  height: 100px;
  width: 100px;
}

.player-one {
  stroke: var(--player-one);
}

.player-one-fill {
  fill: var(--player-one);
}

.player-two {
  stroke: var(--player-two);
}

.player-two-fill {
  fill: var(--player-two);
}

@keyframes nought-animation {
  0% {
    stroke-dashoffset: 190;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}

.game-mark {
  transition: opacity 750ms ease-out;
}

.mark-nought {
  display: block;
  fill: transparent;
  stroke-linecap: round;
  stroke-dasharray: 190;
  stroke-dashoffset: 0;
  stroke-width: 10px;
}

.mark-nought-animate {
  animation-name: nought-animation;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-direction: normal;
}


/* O */
.nought {
  stroke-width: 10;
  stroke-linecap: round;
  fill: none;
  stroke-dashoffset: 190;
  stroke-dasharray: 190;
  -webkit-transition: stroke-dashoffset 1s;
  -moz-transition: stroke-dashoffset 1s;
  -ms-transition: stroke-dashoffset 1s;
  -o-transition: stroke-dashoffset 1s;
  transition: stroke-dashoffset 1s;
}

.nought-show  {
  stroke-dashoffset: 0;
  stroke-dasharray: 190;
}

.nought-hide  {
  stroke-dashoffset: 190;
  stroke-dasharray: 190;
}

/* X */
.mark-cross {
  display: block;
  fill: transparent;
  stroke-linecap: round;
  stroke-dasharray: 190;
  stroke-dashoffset: 0;
  stroke-width: 10px;
}


.cross {
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  -webkit-transition: stroke-dashoffset 500ms;
  -moz-transition: stroke-dashoffset 500ms;
  -ms-transition: stroke-dashoffset 500ms;
  -o-transition: stroke-dashoffset 500ms;
  transition: stroke-dashoffset 500ms;
}

.cross-delay {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

.cross-show {
  stroke-dashoffset: 0;
}


/* VERY COOL ANIMATION But not what's needed... 
.player-one-mark {
  stroke:rgb(137, 16, 207);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 200;
  stroke-dashoffset: 500;
  transition: all 1s;
}
*/
