
:root {
  --document-bg: rgb(31, 31, 31); /*rgba(31, 31, 31);*/
  --board-color-mainbg: rgb(31, 31, 31); /*rgba(31, 31, 31);*/
  --board-color-gridlines: rgb(146, 146, 146);
  --player-one-colour: rgb(247, 21, 247);
  --player-two-colour: rgb(49, 214, 255);
  --color-bg: rgb(31, 31, 31);
  --color-accent-1: rgb(102, 102, 102);
  --color-accent-1-light: rgb(247, 21, 247);
  --color-font-player: rgb(247, 21, 247);
}

html, body {
  width: 100%;
  height: 100%;
  color: rgb(224, 224, 224);
  font-family: 'Lexend Tera', sans-serif;
  font-size: 16px;
}

button:focus { outline: none; }

.document-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-bg);
}

.game-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  /*background: pink;*/
  height: auto;
  width: auto;
  max-width: 320px;
}

.game-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.game-board-container {
  position: relative;
}

/* Game Over */
.game-over-container {
  display: flex;
  flex-direction: column;
  z-index: 4000;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.show-container {
  opacity: 1;
}

.game-over-mark-container {
  display: flex;
  justify-content: center;
  padding: 0;
  height: 200px;
}

.game-over-mark {
  display: block;
  position: relative;
  top: 10px;
  width: 100%;
  max-width: 200px;
  height: auto;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background: none;
  
}

.animate-game-over-mark {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.winner-player-text {
  font-size: 2rem;
}

.game-over-static {
  width: 100%;
  opacity: 0;
  -moz-transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.animate-game-over-static{
  width: 100%;
  opacity: 1;
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
  -webkit-transition-delay: 350ms;
  -moz-transition-delay: 350ms;
  -ms-transition-delay: 350ms;
  -o-transition-delay: 350ms;
  transition-delay: 350ms;
}

.game-over-winner {
  width: 100%;
  opacity: 0;
  -moz-transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -o-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.animate-game-over-winner{
  width: 100%;
  opacity: 1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  -ms-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  transition-delay: 150ms;
}

.game-over-btns-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Current player playing */
.current-player-display-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;
}

.current-player-text {
  font-size: 2rem;
}

/* Tic-Tac-Toe grid */

.tictactoe-grid {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 3;
  pointer-events: none;
}

.grid-line {
  stroke: darkgrey;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-dashoffset: -310;
  stroke-dasharray: 310;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

/* ADD CLASS IN RUN-TIME TO SHOW AND ANIMATE GRID.
      ADDED THEM IN MANUALLY FOR NOW 
*/
.grid-line-draw{
  stroke-dashoffset: 0;
  stroke-dasharray: 310;
}

.grid-line-row1-delay {
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}

.grid-line-row2-delay {
    -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

.grid-line-column1-delay {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

.grid-line-column2-delay {
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}

.tictactoe-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.game-over-mark-transform {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

}

.mark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background: var(--color-bg);
  
}

.game-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.btn-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 0 10px;
  opacity: 0.5;
  min-width: 80px;
  width: auto;
  height: 30px;
  border: 3px solid var(--color-accent-1-light);
  border-radius: 15px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: var(--color-font-player);  
  background: none;
}

.btn-game:hover {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 1;
  color: var(--color-font-player);
}

.test-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(31, 31, 31);
  height: 100px;
  width: 100px;
}

.player-one {
  stroke: var(--player-one-colour);
}

.player-one-fill {
  fill: var(--player-one-colour);
}

.player-two {
  stroke:var(--player-two-colour);
}

.player-two-fill {
  fill:var(--player-two-colour);
}

/* O */
.nought {
  stroke-width: 10;
  stroke-linecap: round;
  fill: none;
  stroke-dashoffset: 190;
  stroke-dasharray: 190;
  -webkit-transition: stroke-dashoffset 1s;
  -moz-transition: stroke-dashoffset 1s;
  -ms-transition: stroke-dashoffset 1s;
  -o-transition: stroke-dashoffset 1s;
  transition: stroke-dashoffset 1s;
}

.nought2 {
  stroke-width: 10;
  stroke-linecap: round;
}

@keyframes nought-animation {
  0% {
    stroke-dashoffset: 190;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}

.mark-nought {
  /*animation: 1.4s ease-in-out infinite both nought-animation;*/
  display: block;
  fill: transparent;
  stroke-linecap: round;
  stroke-dasharray: 190;
  stroke-dashoffset: 0;
  stroke-width: 10px;
}

.mark-nought-animate {
  animation-name: nought-animation;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.nought-show  {
  stroke-dashoffset: 0;
  stroke-dasharray: 190;
}

.nought-hide  {
  stroke-dashoffset: 190;
  stroke-dasharray: 190;
}

/* X */
.cross {
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  -webkit-transition: stroke-dashoffset 500ms;
  -moz-transition: stroke-dashoffset 500ms;
  -ms-transition: stroke-dashoffset 500ms;
  -o-transition: stroke-dashoffset 500ms;
  transition: stroke-dashoffset 500ms;
  
}

.cross-delay {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

.cross-show {
  stroke-dashoffset: 0;
}

.svg-mark {
  pointer-events: none;
}

/* VERY COOL ANIMATION But not what's needed... 
.player-one-mark {
  stroke:rgb(137, 16, 207);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 200;
  stroke-dashoffset: 500;
  transition: all 1s;
}
*/
